<a href="https://colab.research.google.com/github/payalkharb1924/JavaScript/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
a <- c(1,2,3)
a

[1] 1 2 3

In [7]:
class(a)

[1] "numeric"

In [8]:
b <- c("abhi","ram","ravi")
b

[1] "abhi" "ram"  "ravi"

In [9]:
class(b)

[1] "character"

In [10]:
b <- c("abhi","ram","ravi",1,2,3)
b

[1] "abhi" "ram"  "ravi" "1"    "2"    "3"

In [11]:
class(b)

[1] "character"

In [12]:
b <- c(1,2,3,"abhi","ram","ravi")
b

[1] "1"    "2"    "3"    "abhi" "ram"  "ravi"

In [14]:
class(b)

[1] "character"

In [15]:
vec <- c(1,2,3,4,5)
print(vec)

[1] 1 2 3 4 5

In [16]:
#creating a sequence of numbers
seq_vec <- 1:10
seq_vec

 [1]  1  2  3  4  5  6  7  8  9 10

In [17]:
vec1 <- c(1,2,3)
vec2 <- c(4,5,6)
sum_vec <- vec1 + vec2 # element wise addition
print(sum_vec)

prod_vec <- vec1 * vec2 # element wise multiplication
print(prod_vec)

[1] 5 7 9
[1]  4 10 18